/* =====================================================================
// HTML body element.
// ===================================================================*/
BODY {
  background-color: #F2F2F2;
  color: #003366;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}


/* =====================================================================
// DIV element to center the whole page.
// ===================================================================*/
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


/* =====================================================================
// Panel.
// ===================================================================*/
div.panel {
  background-color: #EBEBEB;
  border: 2px solid #D0D0D1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  width: 560px;
}


/* =====================================================================
// Graphic title.
// ===================================================================*/
div.title {
  background-color: #EBEBEB;
  border-bottom: 2px solid #B8B8B8;
  color: #757575;
  font-size: 16px;
  margin: 5px auto 15px;
  padding: 4px;
  text-align: center;
  width: 95%;
}


/* =====================================================================
// Bar table.
// ===================================================================*/
table.bar-table {
  margin-left: auto;
  margin-right: auto;
}


/* =====================================================================
// Text cell 1 and 2.
// ===================================================================*/
td.text-cell-1, td.text-cell-2 {
  background-color: #EBEBEB;
  padding-left: 5px;
  padding-right: 5px;
  height: 27px;
}


/* =====================================================================
// Bar cell.
// ===================================================================*/
td.bar-cell {
  text-align: left;
  height: 27px;
}


/* =====================================================================
// Bar.
// ===================================================================*/
div.bar {
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
}


/* =====================================================================
// Scale cell 1.
// ===================================================================*/
td.scale-1 {
  color: #757575;
  font-size: 10px;
  text-align: center;
}


/* =====================================================================
// Scale cell 2.
// ===================================================================*/
td.scale-2 {
  text-align: left;
}


/* =====================================================================
// Graphic scale.
// ===================================================================*/
div.scale-1 {
  background-color: #EBEBEB;
  border-bottom: 1px solid #B8B8B8;
  border-left: 1px solid #B8B8B8;
  border-right: 1px solid #B8B8B8;
  color: #757575;
  display: inline-block;
  font-size: 9px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
  vertical-align: bottom;
}


/* =====================================================================
// Graphic scale.
// ===================================================================*/
div.scale-2 {
  background-color: #EBEBEB;
  border-bottom: 1px solid #B8B8B8;
  border-right: 1px solid #B8B8B8;
  color: #757575;
  display: inline-block;
  font-size: 9px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
  vertical-align: bottom;
}
